---
extension: html
filter: haml
layout: none
---

-# Title
.contentTitle
  about

-# Body Text
#aboutText
  %h3
    Web Developer in Seattle, WA
  %br
  %p
    Web UI developer with over 10 years of experience. Been working with Ruby and Rails for over 4 years (since mid 2006).
  %p
    Expert with web interface technologies: HTML, CSS, Javascript.
  %p
    Current focus is consulting with early stage startups.