---
extension: html
filter: haml
layout: none
---

-# Title
.contentTitle
  portfolio

#portfolioDescription

#portfolioButtons
  #prevButton.sliderButton
  #nextButton.sliderButton

-# Image Slider
#portfolioSlider
  
  
  #imageWrapper
    %ul#imgList
    
      -# Open Source Rails
      %li
        %a.sliderImage{ :href => "/portfolio/OpenSourceRails.png" }
          %img{ :src => "/portfolio/OpenSourceRails_thumb.png", :alt => "" }
        .description{hidden}
          %strong Open Source Rails: 
          gallery of open source ruby on rails apps
      
      -# Rails Gen
      %li
        %a.sliderImage{ :href => "/portfolio/RailsGen.png" }
          %img{ :src => "/portfolio/RailsGen_thumb.png", :alt => "" }
        .description{hidden}
          %strong RailsGen:
          a ruby on rails application generator
      
      -# White Label Apps
      %li
        %a.sliderImage{ :href => "/portfolio/WhiteLabelApps.png" }
          %img{ :src => "/portfolio/WhiteLabelApps_thumb.png", :alt => "" }
        .description{hidden}
          %strong White Label Apps:
          instantly deploy custom web apps

      -# AlertMe.tv
      %li
        %a.sliderImage{ :href => "/portfolio/AlertMeTV.png" }
          %img{ :src => "/portfolio/AlertMeTV_thumb.png", :alt => "" }
        .description{hidden}
          %strong AlertMe.tv:
          get alerts for tv shows
      
      -# Gist
      %li
        %a.sliderImage{ :href => "/portfolio/Gist.png" }
          %img{ :src => "/portfolio/Gist_thumb.png", :alt => "" }
        .description{hidden}
          %strong Gist:
          news aggregation for your contact list
      
      -# iMedExchange
      %li
        %a.sliderImage{ :href => "/portfolio/iMedExchange.png" }
          %img{ :src => "/portfolio/iMedExchange_thumb.png", :alt => "" }
        .description{hidden}
          %strong iMedExchange:
          social network for doctors
      
      -# LaunchSplash
      %li
        %a.sliderImage{ :href => "/portfolio/LaunchSplash.png" }
          %img{ :src => "/portfolio/LaunchSplash_thumb.png", :alt => "" }
        .description{hidden}
          %strong LaunchSplash:
          instant splash pages
      
      -# Comicly
      %li
        %a.sliderImage{ :href => "/portfolio/Comicly.png" }
          %img{ :src => "/portfolio/Comicly_thumb.png", :alt => "" }
        .description{hidden}
          %strong Comicly:
          webcomic recommendation engine
      
      -# BlogStem
      %li
        %a.sliderImage{ :href => "/portfolio/BlogStem.png" }
          %img{ :src => "/portfolio/BlogStem_thumb.png", :alt => "" }
        .description{hidden}
          %strong BlogStem:
          viral blogging platform
      
      -# CourseMappr
      %li
        %a.sliderImage{ :href => "/portfolio/CourseMappr.png" }
          %img{ :src => "/portfolio/CourseMappr_thumb.png", :alt => "" }
        .description{hidden}
          %strong CourseMapper:
          map mashup of golf courses
      
      -# PubBud
      %li
        %a.sliderImage{ :href => "/portfolio/PubBud.png" }
          %img{ :src => "/portfolio/PubBud_thumb.png", :alt => "" }
        .description{hidden}
          %strong PubBud:
          location based social network

      -# LoginAllow
      %li
        %a.sliderImage{ :href => "/portfolio/LoginAllow.png" }
          %img{ :src => "/portfolio/LoginAllow_thumb.png", :alt => "" }
        .description{hidden}
          %strong LoginAllow:
          provide websites with 3rd party login services

      -# SocialGang
      %li
        %a.sliderImage{ :href => "/portfolio/SocialGang.png" }
          %img{ :src => "/portfolio/SocialGang_thumb.png", :alt => "" }
        .description{hidden}
          %strong SocialGang:
          communication tool
      