---
extension: html
filter: haml
layout: none
---

-# Title
.contentTitle
  startup consulting services

#serviceColumn1.serviceColumn
  %h3
    Ideas
  %p
    I provide technical help in fleshing out ideas for web apps, giving feedback on what's possible,
    what the relative effort is, and possibly put together a prototype to test the feasibility of 
    certain things.

#serviceColumn2.serviceColumn
  %h3
    Design
  %p
    I can help take your ideas, assist with the wireframing, and work with a designer to turn 
    your idea into visual mockups.

#serviceColumn3.serviceColumn
  %h3
    Implement
  %p
    With a solid visual mockup in place, I can turn that into a working web app, and get 
    your idea launched.
