---
extension: html
filter: haml
layout: none
---

!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title RailsJedi.com
    %script{ :src => "javascript/jquery.js", :type => "text/javascript" }
    %script{ :src => "fancybox/jquery.fancybox.js", :type => "text/javascript" }
    %script{ :src => "javascript/javascript.js", :type => "text/javascript" }
    %link{ :href => "css/site.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "fancybox/jquery.fancybox.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }

  %body
    #leftSide
      #title
        %h1 RailsJedi.com
        %span.titleSubText
          portfolio of jacques crocker

      #arrowWrapper
        #arrow

      #buttonsWrapper
        -# Portfolio Button
        #portfolioButtonWrapper
          #portfolioButton.navButton
          #portfolioCaption.navCaption
            -# Portfolio Button: Label
            %span.navCaptionText
              portfolio
            %br
            -# Portfolio Button: Sub-Label
            %span.navSubCaptionText
              my work
      
        -# About Button
        #aboutButtonWrapper
          #aboutButton.navButton
          #aboutCaption.navCaption
            -# About Button: Label
            %span.navCaptionText
              about
            %br
            -# About Button: Sub-Label
            %span.navSubCaptionText
              who I am

        -# Services Button
        #servicesButtonWrapper
          #servicesButton.navButton
          #servicesCaption.navCaption
            -# Services Button: Label
            %span.navCaptionText
              consulting
            %br
            -# Services Button: Sub-Label
            %span.navSubCaptionText
              what i can do

        -# Contact Button
        #contactButtonWrapper
          #contactButton.navButton
          #contactCaption.navCaption
            -# Contact Button: Label
            %span.navCaptionText
              contact
            %br
            -# Contact Button: Sub-Label
            %span.navSubCaptionText
              get in touch

    #contentPanelWrapper
      #contentPanelEdge

      -# 'About' Content
      #aboutContent.content
        = partial "about"

      -# 'Portfolio' Content
      #portfolioContent.content
        = partial "portfolio"

      -# 'Services' Content
      #servicesContent.content
        = partial "services"
        
      -# 'Contact' Content
      #contactContent.content
        = partial "contact"